html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    color: white;
}

.container {
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

input {
    border: none;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

label {
    margin: 5px;
}

button {
    cursor: pointer;
}

.book-details {
    width: 645px;
    margin: 0 auto;
    padding-left: 10px;
    height: calc(100vh - 70px);
    justify-content: space-evenly;
}

.details-btns{
    width: 100%;
    justify-content: space-between;

}

.about {
    width: 600px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}

.home {
    background-image: url(/assets/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 60px);
}

h1 {
    font-size: 6rem;
    text-align: center;
}

.book-card {
    height: 420px;
    width: 250px;
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
    box-shadow: inset 0 0 7px #000000;
    background-color: cornflowerblue;
    margin: 10px;
    justify-content: space-evenly;
}

.book-card:hover {
    filter: brightness(85%);
}

.googleSearch-item {
    width: 400px;
}

.addBook-btn {
    float: right;
    cursor: pointer;
}

.filter-container {
    height: 50px;
}

.price-range {
    cursor: pointer;
}

input[type=range] {
    height: 36px;
    background-color: none;
    -webkit-appearance: none;
    background-color: black;
    margin: 10px 0;
    width: 300px;
}

.userMsg {
    background-color: white;
    color: black;
    height: 65px;
    width: 350px;
    position: fixed;
    top: 25px;
    right: 25px;
    padding: 10px;
    border-radius: 10px;
    border: 5px solid rgb(0, 243, 12);
}

.next-btn,.prev-btn{
    width: 150px;
    height: 30px;
    border-radius: 10px;
}

.userMsg-title {
    color: rgb(0, 243, 12);
}

.userMsg-content {
    color: grey;
    font-size: 0.8rem;
    text-align: center;
}

.userMsg-link {
    color: rgb(0, 243, 12);
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000;
    background: #3071A9;
    border-radius: 5px;
    border: 1px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 6px #000000;
    border: 0px solid #000000;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background: #FF2424;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #3071A9;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #3071A9;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
}

input[type=range]::-ms-fill-upper {
    background: #3071A9;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000000;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 6px #000000;
    border: 0px solid #000000;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background: #FF2424;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #3071A9;
}

input[type=range]:focus::-ms-fill-upper {
    background: #3071A9;
}

.details-desc {
    align-self: start;
}

.book-input {
    font-size: 1rem;
    height: 30px;
    width: 200px;
    margin-right: 20px;
    border: none;
    border-radius: 10px;
    padding-left: 15px;
}

.back-btn {
    height: 35px;
    width: 100px;
    font-size: 1.1rem;
    border: none;
    background-color: cornflowerblue;
    border-radius: 10px;
}

.review-item {
    width: 360px;
    padding: 20px;
    background-color: cornflowerblue;
    margin-bottom: 5px;
    border-radius: 10px;
}

.rate-btn {
    width: 100px;
    height: 30px;
    border-radius: 10px;
}

.desc-input {
    height: 200px;
    border-radius: 10px;
    padding: 10px;
}

.name-input {
    height: 40px;
    margin-bottom: 5px;
    border-radius: 10px;
    padding-left: 10px;
}

.date-input {
    margin-bottom: 5px;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    cursor: pointer;
}

.nav-bar {
    background-color: #6495ed;
    height: 60px;
    box-shadow: inset 0 -10px 10px -10px black;
}

.nav-link {
    color: white;
}

.active {
    color: red;
}

.nav-item {
    padding-right: 20px;
    padding-top: 15px;
    font-size: 1.6rem;
    text-align: center;
}

.review-box {
    position: relative;
}

.close-btn {
    position: absolute;
    right: 0;
    padding: 10px;
    cursor: pointer;
}

.book-title {
    height: 30px;
    color: white;
}

.book-price {
    color: white;
}

.show-more {
    color: blue;
    cursor: pointer;
}

.details-img {
    height: 300px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.sale-img {
    left: 0;
    top: 51px;
    height: 240px;
    position: absolute;
}

.details-title {
    font-size: 3rem;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.display-column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.thumbnail {
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
}

* {
    margin: 0;
    padding: 0;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover, .rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.rate>input:checked+label:hover, .rate>input:checked+label:hover~label, .rate>input:checked~label:hover, .rate>input:checked~label:hover~label, .rate>label:hover~input:checked~label {
    color: #c59b08;
}

.review-container {
    width: 400px;
    padding: 20px;
}